* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background: linear-gradient(0deg, green 50%, lightblue, blue); */
  background: radial-gradient(
    ellipse at bottom,
    green 50%,
    lightblue 55%,
    blue
  );
  /* position: relative; */
}

#sun {
  height: 70px;
  width: 70px;
  /* background-color: orange; */
  background-image: radial-gradient(yellow, orangered);
  /* border: solid orangered; */
  box-shadow: 0px 0px 10px 10px orangered;
  border-radius: 50%;
  position: absolute;
  left: 50px;
  /* right: 1px; */
  top: 50px;
}

.search-container {
  width: 50%;
  background-color: red;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.picture {
  height: 96px;
  width: 96px;
}

.stats-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.stats {
  height: 20px;
  background-color: green;
  border: 2px solid black;
  margin: 10px;
}
.name.id {
  display: flex;
  justify-content: flex-start;
}

.height.weight {
  display: flex;
  justify-content: flex-start;
}

.hp.speed {
  display: flex;
  justify-content: flex-start;
}

.attack.defense {
  display: flex;
  justify-content: flex-start;
}

.special-attack.special-defense {
  display: flex;
  justify-content: flex-start;
}

#types {
  display: flex;
  justify-content: flex-start;
}

.type {
  margin: 0px 5px;
}

.grass {
  background-color: green;
}

.poison {
  background-color: purple;
}

.fire {
  background-color: orange;
}

.flying {
  background-color: lightblue;
}

.water {
  background-color: blue;
}

.bug {
  background-color: greenyellow;
}

.normal {
  background-color: beige;
}

.electric {
  background-color: yellow;
  color: black;
}

.ice {
  background-color: aqua;
}

.fighting {
  background-color: red;
}

.ground {
  background-color: brown;
}

.psychic {
  background-color: pink;
}

.rock {
  background-color: grey;
}

.ghost {
  background-color: white;
  color: black;
}

.dragon {
  background-color: orangered;
}

.dark {
  background-color: black;
  color: white;
}

.steel {
  background-color: steelblue;
}

.fairy {
  background-color: palevioletred;
}
