* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background: linear-gradient(0deg, green 50%, lightblue, blue); */
  /*  maybe try ellipse for a better curve  */
  background: radial-gradient(
    ellipse at bottom,
    green 70%,
    lightblue 75%,
    blue
  );
  /* position: relative; */
}

#sun {
  height: 70px;
  width: 70px;
  /* background-color: orange; */
  background-image: radial-gradient(yellow, orangered);
  /* border: solid orangered; */
  box-shadow: 0px 0px 10px 10px orangered;
  border-radius: 50%;
  position: absolute;
  left: 50px;
  /* right: 1px; */
  top: 50px;
}

.search-container {
  width: 50%;
  background-color: red;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.screen-bezel-top {
  background: lightgrey;
  padding: 20px 20px 0px;
  border-left: 5px outset grey;
  border-top: 5px outset grey;
  border-right: 5px outset grey;
}

.picture {
  height: 150px;
  width: 200px;
  background: white;
  border-radius: 20%;
  border: 5px inset grey;
  display: flex;
  justify-content: center;
}

img {
  max-height: 100%;
  min-height: 100%;
  /* min-width: 100%; */
  max-width: 100%;
}

.screen-bezel-bottom {
  height: 50px;
  width: 100%;
  background: lightgrey; /*      LL        UR       LR */
  clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 20% 100%);
  border-bottom: 5px outset grey;
  border-right: 5px outset grey;
  position: relative;
}

.bottom-bezel-light {
  height: 20px;
  width: 20px;
  background: blue;
  border-radius: 50%;
  position: absolute;
  left: 40px;
  top: 10px;
}

.vent-container {
  position: absolute;
  top: 5px;
  right: 20px;
}

.vent {
  height: 4px;
  width: 50px;
  margin: 2px;
  background: black;
}

.stats-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.stats {
  height: 20px;
  background-color: green;
  border: 2px solid black;
  margin: 10px;
}
.name.id {
  display: flex;
  justify-content: flex-start;
}

.height.weight {
  display: flex;
  justify-content: flex-start;
}

.hp.speed {
  display: flex;
  justify-content: flex-start;
}

.attack.defense {
  display: flex;
  justify-content: flex-start;
}

.special-attack.special-defense {
  display: flex;
  justify-content: flex-start;
}

#types {
  display: flex;
  justify-content: flex-start;
}

.type {
  margin: 0px 5px;
}

.grass {
  background-color: green;
}

.poison {
  background-color: purple;
}

.fire {
  background-color: orange;
}

.flying {
  background-color: lightblue;
}

.water {
  background-color: blue;
}

.bug {
  background-color: greenyellow;
}

.normal {
  background-color: beige;
}

.electric {
  background-color: yellow;
  color: black;
}

.ice {
  background-color: aqua;
}

.fighting {
  background-color: red;
}

.ground {
  background-color: brown;
}

.psychic {
  background-color: pink;
}

.rock {
  background-color: grey;
}

.ghost {
  background-color: white;
  color: black;
}

.dragon {
  background-color: orangered;
}

.dark {
  background-color: black;
  color: white;
}

.steel {
  background-color: steelblue;
}

.fairy {
  background-color: palevioletred;
}
